---
import Layout from "../layouts/Layout.astro";
import About from "../components/sections/About.astro";
import Education from "../components/sections/Education.astro";
import Experience from "../components/sections/Experience.astro";
import Projects from "../components/sections/Projects.astro";
import Hero from "../components/sections/Hero.astro";
import CommandMenu from "../components/CommandMenu.astro";
import { cv } from "../../cv.json";
import Skills from "../components/sections/Skills.astro";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
const { lang, basics: { name } } = cv;
---

<Layout title={`Portafolio de ${name}`} basics={cv.basics} lang={lang}>
  <main class="p-6 m-auto w-full md:p-10">
    <LanguageSwitcher lang={lang}/>
    <Hero basics={cv.basics} />
    <About title="Sobre mi" basics={cv.basics} />
    <Experience title="Experiencia" work={cv.work} />
    <Education title="Educación" education={cv.education} />
    <Projects title="Proyectos" projects={cv.projects} />
    <Skills title="Habilidades" skills={cv.skills} />
  </main>

  <CommandMenu lang={lang} profiles={cv.basics.profiles} name={cv.basics.name}/>
</Layout>
